# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/microcode.py
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-3d6c709b277736f20a7f.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3c200926d5888579683a.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-da1d738093a9b184f6fb.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-94f5b00aced6f923652f.json
/cmake-build-debug/.cmake/api/v1/reply/directory-SDL-Debug-07ade731508963360216.json
/cmake-build-debug/.cmake/api/v1/reply/directory-SDL_image-Debug-e299266bc4b19ed06bb1.json
/cmake-build-debug/.cmake/api/v1/reply/directory-SDL_mixer-Debug-bf092b67f9d2002e2f2f.json
/cmake-build-debug/.cmake/api/v1/reply/directory-SDL_ttf.external.freetype-Debug-c139a7a352297e358ce7.json
/cmake-build-debug/.cmake/api/v1/reply/directory-SDL_ttf-Debug-c4a4c5d505f698abf033.json
/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-29T21-24-35-0239.json
/cmake-build-debug/.cmake/api/v1/reply/target-freetype-Debug-d3f7a35db79f27bdfd81.json
/cmake-build-debug/.cmake/api/v1/reply/target-SDL3-static-Debug-a1680fedf2e9670e2818.json
/cmake-build-debug/.cmake/api/v1/reply/target-SDL3_image-static-Debug-33e1321aab785305bd6e.json
/cmake-build-debug/.cmake/api/v1/reply/target-SDL3_mixer-static-Debug-6824682db1b01a673edb.json
/cmake-build-debug/.cmake/api/v1/reply/target-SDL3_test-Debug-f0abd32add16ceacf224.json
/cmake-build-debug/.cmake/api/v1/reply/target-SDL3_ttf-static-Debug-d0d5e9214525b8c2703e.json
/cmake-build-debug/.cmake/api/v1/reply/target-sdl-min-Debug-d944a7e8fe5b6cb2fb00.json
/cmake-build-debug/.cmake/api/v1/reply/target-SDL_uclibc-Debug-ec8557c908f667b9faa9.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-1077777c6ff90c60d4e2.json
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdOBJC/CMakeOBJCCompilerId.m
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_OBJC.bin
/cmake-build-debug/CMakeFiles/3.30.5/CMakeOBJCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/SDL/CMakeFiles/CMakeTmp/SDL_detect_arch/bin
/cmake-build-debug/SDL/CMakeFiles/CMakeTmp/SDL_detect_arch.c
/cmake-build-debug/SDL/CMakeFiles/git-data/grabRef.cmake
/cmake-build-debug/SDL/CMakeFiles/git-data/HEAD
/cmake-build-debug/SDL/CMakeFiles/git-data/head-ref
/cmake-build-debug/SDL/CMakeFiles/SDL3-static.dir/cmake_pch.h
/cmake-build-debug/SDL/CMakeFiles/SDL3-static.dir/cmake_pch.h.c
/cmake-build-debug/SDL/CMakeFiles/dummy.sym
/cmake-build-debug/SDL/CMakeFiles/SDL_build_config.h.intermediate
/cmake-build-debug/SDL/include-config-debug/build_config/SDL_build_config.h
/cmake-build-debug/SDL/include-revision/SDL3/SDL_revision.h
/cmake-build-debug/SDL/cmake_install.cmake
/cmake-build-debug/SDL/SDL3Config.cmake
/cmake-build-debug/SDL/SDL3ConfigVersion.cmake
/cmake-build-debug/SDL/SDL3headersTargets.cmake
/cmake-build-debug/SDL/SDL3staticTargets.cmake
/cmake-build-debug/SDL/SDL3testTargets.cmake
/cmake-build-debug/SDL_image/cmake_install.cmake
/cmake-build-debug/SDL_image/dummy.sym
/cmake-build-debug/SDL_mixer/cmake_install.cmake
/cmake-build-debug/SDL_mixer/dummy.sym
/cmake-build-debug/SDL_ttf/external/freetype/CMakeFiles/Export/778b4f54a68e80ec034bf381f364ca2c/freetype-config.cmake
/cmake-build-debug/SDL_ttf/external/freetype/CMakeFiles/Export/778b4f54a68e80ec034bf381f364ca2c/freetype-config-debug.cmake
/cmake-build-debug/SDL_ttf/external/freetype/include/freetype/config/ftconfig.h
/cmake-build-debug/SDL_ttf/external/freetype/include/freetype/config/ftoption.h
/cmake-build-debug/SDL_ttf/external/freetype/cmake_install.cmake
/cmake-build-debug/SDL_ttf/external/freetype/freetype2.pc
/cmake-build-debug/SDL_ttf/external/freetype/freetype-config-version.cmake
/cmake-build-debug/SDL_ttf/cmake_install.cmake
/cmake-build-debug/SDL_ttf/dummy.sym
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CPackConfig.cmake
/cmake-build-debug/CPackSourceConfig.cmake

/roms/GLABIOS_0.4.0_8X.ROM
/roms/*.png
/notes/glabios_checkpoints.txt

/microcode
/releases
imgui.ini
